/* app css stylesheet */
/*-------------------------
Global
-------------------------*/
body { padding-top: 70px; }

p {
color: #666;
}
/*-------------------------
End Global
-------------------------*/

/*-------------------------
Heading
-------------------------*/
.panel-heading.page-header,
.input-group-addon,
.btn-primary,
.navbar-inverse .navbar-toggle:hover {
background: rgb(0,183,234); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg3YWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,135,173,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,135,173,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,135,173,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,135,173,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,135,173,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,135,173,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0087ad',GradientType=0 ); /* IE6-8 */
}

.panel-info .panel-heading {
border: none;
background: rgb(153,153,153); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(153,153,153,1) 0%, rgba(86,86,86,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,1)), color-stop(100%,rgba(86,86,86,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(153,153,153,1) 0%,rgba(86,86,86,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(153,153,153,1) 0%,rgba(86,86,86,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(153,153,153,1) 0%,rgba(86,86,86,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(153,153,153,1) 0%,rgba(86,86,86,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#565656',GradientType=0 ); /* IE6-8 */
}

.panel-body .panel-title {
color: #fff;
}

.navbar,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:active {
background: none;
}

.navbar-inverse .navbar-toggle {
border-color: #ffffff;
}

.panel-heading h1 {
color: #fff;
text-shadow: 1px 1px 5px #0087AD;
    filter: dropshadow(color=#0087AD, offx=1, offy=1);
}

.panel-heading h1 small {
color: #fff;
}

.navbar-right {
float: right;
}

.logoutBtn {
float: right;
margin-top: 16px;
cursor: pointer;
font-size: 85%;
}

/*-------------------------
End Heading
-------------------------*/

/*-------------------------
Login
-------------------------*/
.login-form {
text-align: center;
}

.login-form input {
padding: 5px 10px;
margin-bottom: 10px;
}

/*-------------------------
End Login
-------------------------*/

/*-------------------------
Nav Heading
-------------------------*/
.navbar-inverse,
.panel-footer {
background: #0087AD;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand,
.logoutBtn {
text-decoration: none;
color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover,
.logoutBtn:hover {
text-decoration: none;
background: none;
color: #4dd6fd;
}

/*-------------------------
End Nav Heading
-------------------------*/

/*-------------------------
Panel
-------------------------*/

.label-success {
background: #999;
}

.panel {
border: none;
box-shadow: none;
}

.login-form h2,
.panel-body h3,
.thumbnail .caption {
color: #666;
}

.input-group-addon i {
color: #fff;
}

.list-group .btn-default {
border: none;
background: #999;

}

.list-group .btn {
padding: 1px 10px;
float: right;
}

.label-danger {
margin-left: 5px;
background: #94be01;	
}

.caption h2 i {
color: #999;
}

.hidde{
display: none;
}

/*-------------------------
End Panel
-------------------------*/

/*-------------------------
Footer Panel
-------------------------*/
.panel-footer {
text-align: center;
color: #fff;
border: none;
}

/*-------------------------
Fin Footer Panel
-------------------------*/