<nav class="navbar navbar-default" role="navigation" ng-controller="CreditsTrackingCtrl" ng-include="'partials/nav.html'"></nav>
<div ng-controller="AddUsersCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Add Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <!-- List group -->
        <div class="panel panel-info">
            <div class="panel-body">
            <form ng-submit="addUser()" name="myForm">
                *Name:<input type="text" class="form-control" ng-model="user.name" id="name" value="" required><br>
                *UserName:<input type="text" class="form-control" ng-model="user.username" id="username" value="" required><br>
                *Password:<input type="text" class="form-control" ng-model="user.password" id="password" value="" required><br>
                *Email:<input type="text" class="form-control" ng-model="user.email" id="email" value="" required><br>
                <select class="form-control" ng-model="myRolOption" ng-options="r.rolUser for r in tempRoles" required>
                <option value="">-- Select a Rol --</option>
                </select><br>
                <button type="submit" class="btn btn-primary btn-sm">Add</button>
                <button type="reset" class="btn btn-primary btn-sm">Reset</button>
            </form>
            </div>
        </div>
</div>
