<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="CreditsTrackingCtrl" ng-include="'partials/nav.html'"></nav>
<div class="panel panel-default" ng-controller="AddWorkshopsCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Add Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <!-- List group -->
        <div class="panel panel-info">
            <div class="panel-body">
            <form ng-submit="addMessage()" name="myForm">
                *Name:<input type="text" class="form-control" ng-model="user.name" value="" required><br>
                Category:<select class="form-control" ng-model="myOption" ng-options="w.category for w in tempWorkshops">
                <option style="display:none" value="">-- select a category --</option>
                </select><br>
                    <input type="radio" name="optionsRadios" ng-model="workshopType" value="mandatory"> <!-- ng-click="selectedType()" -->
                    mandatory
                &nbsp;
               <input type="radio" name="optionsRadios" ng-model="workshopType" value="optional"> <!-- ng-click="selectedType()" -->
                    optional
               <br>
                Value of Credits:<input type="text" class="form-control" ng-model="work.credits" value="" required><br>
                <input type="radio" name="type" ng-model="workshopForm" value="online" >
                   online
                &nbsp;
                <input type="radio" name="type" ng-model="workshopForm" value="presential">
                    presential
                <br>
                *Url of Workshop:<input type="url" class="form-control" ng-model="work.url" value="" placeholder="Please insert a link beginning with 'http://'" required><br>
                Description:<textarea class="form-control" rows="8" cols="25" ng-model="work.description" required></textarea><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-search"></i></span>
                    <input type="text" ng-model="searchUser" placeholder="Search Author" class="form-control">
                </div>
                <select class="form-control" ng-change="selectedAuthor()" ng-model="myAuthorOption" ng-options="a.name for a in tempUsers | filter:searchUser">
                    <option style="display:none" value="">-- select a author --</option>
               	</select>
                <br>
                <button type="submit" class="btn btn-primary btn-sm">Add</button>
            </form>
            </div>
        </div>
</div>
