<nav class="navbar navbar-default" role="navigation" ng-controller="CreditsTrackingCtrl" ng-include="'partials/nav.html'"></nav>
<div ng-controller="ChangeCreditsCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Change Credits<small> on Yahoo! University</small></h1>    
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <!-- List group -->
    <div class="input-group">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="form-control" placeholder="Search Criteria..." ng-model="searchMyWorkshop">
    </div>
    <br/>
    <form>
         <ul class="list-group">
            <li class="list-group-item" id="{{myworkshop.user}}" ng-repeat="myworkshop in tempChangeCredits | filter:searchMyWorkshop "> 
                <p><strong>Username:</strong> {{myworkshop.name}}</p>
                <p><strong>Credits:</strong> {{myworkshop.userCredits}}&nbsp;<strong>equivalent to:</strong> {{myworkshop.points}} <strong>points</strong></p>
                <button type="submit" class="btn btn-default" value="" ng-click="changeCredits('{{myworkshop.user}}')">Change Credits</button>
                <br>
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </li>
        </ul>
    </form>    
</div>

