<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Credits Tracking<small> on Yahoo! University</small></h1>    
    </div>
    <div class="panel-body">
        <p>My Credits: 35 <a href="#" class="label label-default"><i class="icon-plus-sign-alt"></i> Click For More Credits</a></p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Latest Workshops <i class="icon-book"></i></h2>
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio <span class="label label-danger">New</span></li>
                        <li class="list-group-item">Dapibus ac facilisis in <span class="label label-danger">New</span></li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Top Four <i class="icon-group"></i></h2>
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
</div>