<div class="panel panel-default" ng-controller="LoginCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Login<small> on Yahoo! University</small></h1>    
    </div>
    <!-- List group -->
        <div class="panel panel-info">
            <div class="panel-body">
            <form ng-submit="loginUser(1)">
                UserName:<input type="text" class="form-control" ng-model="user.name" value="" required><br>
                Password:<input type="password" class="form-control" ng-model="user.password" value="" required><br>
                <button type="submit" class="btn btn-primary btn-sm">Login</button>
            </form>
            </div>
        </div>
</div>