<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="CreditsTrackingCtrl" ng-include="'partials/nav.html'"></nav>
<div class="panel panel-default" ng-controller="MyWorkshopsCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>My Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <!-- List group -->
    <div class="input-group">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="form-control" placeholder="Search Criteria..." ng-model="searchMyWorkshop">
    </div>
    <br/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="myworkshop in tempMyWorkshops  | filter:searchMyWorkshop" ng-switch="{{myworkshop.type}}">
            <input type="hidden" value"{{myworkshop.id}}"/>
            <strong>Name:</strong> {{myworkshop.name}}
            <strong>Category:</strong> {{myworkshop.category}}
            <span ng-switch-when="true"><strong>Credits:</strong> {{myworkshop.credits}}</span>
            <strong>By:</strong> {{myworkshop.author}}
            <strong>Status:</strong> <span class="label label-danger">{{myworkshop.status}}</span>
        </li>
    </ul>
</div>