<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>My Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <div class="panel-body">
        <p>Esta es la lista de workshops......</p>
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio <i class="icon-ok-sign"></i></li>
        <li class="list-group-item">Dapibus ac facilisis in <i class="icon-ok-sign"></i></li>
        <li class="list-group-item">Cras justo odio <i class="icon-exclamation-sign"></i></li>
        <li class="list-group-item">Cras justo odio <i class="icon-exclamation-sign"></i></li>
        <li class="list-group-item">Morbi leo risus <i class="icon-ok-sign"></i></li>
        <li class="list-group-item">Porta ac consectetur ac <i class="icon-ok-sign"></i></li>
        <li class="list-group-item">Vestibulum at eros <i class="icon-ok-sign"></i></li>
        <li class="list-group-item">Cras justo odio <i class="icon-exclamation-sign"></i></li>
    </ul>
</div>