<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <a class="navbar-brand" href="#/page/home">Yahoo! University</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div>
<ul class="nav navbar-nav" ng-controller="HomeCtrl" ng-switch="{{type}}">
    <li class="active" ng-switch-when="2"><a class="icon-home" href="#/page/home"> Home</a></li>
    <li ng-switch-when="2"><a href="#/page/myworkshops">My Workshops</a></li>
    <li ng-switch-when="2"><a href="#/page/workshops">Workshops</a></li>
    <li class="active" ng-switch-when="1"><a class="icon-home" href="#/page/home"> Home</a></li>
    <li ng-switch-when="1"><a href="#/page/myworkshops">My Workshops</a></li>
    <li ng-switch-when="1"><a href="#/page/workshops">Workshops</a></li>
    <li ng-switch-when="1"><a href="#/page/addworkshops">Add Workshops</a></li>
    <li ng-switch-when="1"><a href="#/page/pendingworkshops">Pending Workshops</a></li>
    <li ng-switch-when="1"><a href="#/page/changecredits">Change Credits</a></li>
</ul>
<a ng-controller="LoginCtrl" ng-click="loginUser(0)">Logout</a>