<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <div class="panel-body">
        <p>lista de workshops disponibles....</p>   
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <!-- List group -->
    <div class="input-group">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="form-control" placeholder="Searh Criteria..." ng-model="searchWorkshop">
    </div>
    <br/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="workshop in tempWorkshops | filter:searchWorkshop "><input type="hidden" value"{{workshop.id}}"/> <strong>Name:</strong> {{workshop.name}} <strong>Category:</strong> {{workshop.category}} <strong>Credits:</strong> {{workshop.credits}} <button type="button" class="btn btn-default">Send to check</button></li>
    </ul>
</div>