<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="CreditsTrackingCtrl" ng-include="'partials/nav.html'"></nav>
<div class="panel panel-default" ng-controller="WorkshopsCtrl">
    <!-- Default panel contents -->
    <div class="panel-heading page-header">
        <h1>Workshops<small> on Yahoo! University</small></h1>    
    </div>
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Previous</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
    <!-- List group -->
    <div class="input-group">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text" class="form-control" placeholder="Search Criteria..." ng-model="searchWorkshop">
    </div>
    <br/>
    <ul class="list-group" ng-controller="WorkshopsSendtoCheckCtrl">
        <li class="list-group-item" id="wsend{{workshop.itemID}}"  ng-repeat="workshop in tempWorkshops | filter:searchWorkshop" ng-switch="{{workshop.type}}">
            <h2><strong>{{workshop.name}}</strong> <a href="{{workshop.url}}" target="_blank"><i class="icon-cloud-download" title="download worshop"></i></a></h2>
            <p>Category: {{workshop.category}}</p>
            <p ng-switch-when="true">Credits: {{workshop.credits}}</p>
            <p>By: {{workshop.author}}  <button type="button" class="btn btn-default" ng-click="sendtocheck('{{workshop.globalUser}}', '{{workshop.workshopId}}', '{{workshop.itemID}}', '{{workshop.mainWorkshopId}}')">Register</button></p>
        </li>
    </ul>
            
</div>